<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ccf.glesapp">

    <uses-feature android:glEsVersion="0x00020000" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".polygon.PolygonActivity" />
        <activity android:name=".polygon.Polygon3DActivity" />
        <activity android:name=".texture.TextureActivity" />
        <activity android:name=".camera.CameraEntryActivity" />
        <activity android:name=".camera.CameraActivity" />
        <activity android:name=".camera.CameraL9Activity" />
        <activity android:name=".camera.CameraSVActivity" />
        <activity android:name=".camera.CameraTexActivity" />
        <activity android:name=".camera2.Camera2Activity" />
        <activity android:name=".mediaeffect.MediaEffectActivity" />
        <activity android:name=".video.VideoActivity" />
        <activity android:name=".matrix.MatrixActivity" />
        <activity android:name=".egl.v1.EGLv1Activity" />
    </application>

</manifest>